.header {
    padding: 45px 0 56px;
}

.headerRow{
    display: flex;
    column-gap: 30px;
    align-items: center;
    justify-content: space-between;
}

.header_logo{
    display: flex;
    align-items: center;
    column-gap: 13px;   
}

.header_logo span {
    font-weight: 900;
    font-size: 40px;
    line-height: 60px;
    letter-spacing: 0.03 em;
    color: black;
}